[Unit]
Description=HAUM's IRC microservice
After=mutli-user.target
Requires=multi-user.target

[Service]
Type=simple
User=hms_irc
ExecStart=/home/hms_irc/hms_irc/systemd/run.sh
Restart=always
RestartSec=360
WatchdogSec=60

[Install]
WantedBy=multi-user.target
