[Unit]
Description=HAUM's IRC microservice
After=mutli-user.target
Requires=multi-user.target

[Service]
Type=simple
User=hms_irc
ExecStart=/home/hms_irc/hms_irc/systemd/run.sh
#Restart=always
#WatchdogSec=3600

[Install]
WantedBy=multi-user.target
